* {
  background-color: rgb(71, 69, 69);
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body h1 {
  font-size: 2rem;
  text-align: center;
}

nav {
  list-style: none;
  text-decoration: none;
}

#search {
  background-color: white;
  font-size: 2em;
  text-align: center;
  margin-left: 3em;
}
#doSearch {
  color: white;
  background-color: rgb(26, 156, 26);
  font-size: 2em;
  padding: 0.2em 1em;
}

#doSearch:hover {
  background-color: green;
}
#doSearch:active {
  background-color: rgb(177, 231, 133);
}

.house {
  color: #a7bbec;
  background-color: #020202;
  padding: 1em;
  margin: 1em;
}
.house * {
  background-color: #020202;
}

.house img {
  max-height: 100px;
  display: inline-block;
}
