* {
  background-color: gray;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

nav {
  list-style: none;
  text-decoration: none;
}

#search {
  background-color: white;
}

.house {
  background-color: white;
  padding: 1em;
  margin: 1em;
}
.house * {
  background-color: white;
}
